body {
  margin: 0px;
  /* background-image: url("./book-background3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  background-size: cover%; */
}

#root {
  height: 100vh;
}
.book-info {
  text-align: center;
  padding: 10px;
  margin: 15px 25px;
}
